<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.batfia.arefin.MenuAssistant">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="arefin.app"
        android:allowBackup="true"
        android:icon="@drawable/icon_gray"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="arefin.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="arefin.CreateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arefin.StartActivity" />
        </activity>
        <activity android:name="arefin.AttendanceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arefin.StartActivity" />
        </activity>
        <activity
            android:name="arefin.ItemListActivity"
            android:label="@string/title_activity_item_list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arefin.MenuCreatorActivity" />
        </activity>
        <activity android:name="arefin.MenuCreatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arefin.AttendanceActivity" />
        </activity>
        <activity
            android:name="arefin.FragmentActivity"
            android:label="Orders"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.google.android.gms.actions.CREATE_NOTE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arefin.ItemListActivity" />
        </activity>
        <activity android:name="arefin.CreditsActivity" />
        <activity android:name="arefin.HistoryActivity"></activity>
    </application>

</manifest>